# leading `/' means at top level only
/build/
/PyCmd/
/buildinfo.py
/PyCmd-*-w??.zip
/pycmd_public.html

# no leading `/' means anywhere
*.pyc
.ropeproject
.idea
semantic.cache
/*.pyd
/lib2to3
/PyCmd.bat
/PyCmd.exe
/library.zip
/python27.dll
/pywintypes27.dll
